p {
  font-size: 20px;
  text-align: center;
  margin-left: -120px;
}

.current-weather {
  display: block;
  text-align: center;
}

.left-column {
  display: block;
  text-align: center;
}

.right-column {
  display: block;
  text-align: right;
}